body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {

  --lightGreen: #99d1a3;
  
  --garkGreen: #56A981;

  --yellow: #E8E569;
   /* #edea87; */
  
  --pink: #ebb2cb;

  --primary-font: Nunito, Helvetica, sans-serif;

  --primary-spacing: 3rem;
  
}

.card {
  background-color: var(--darkGreen);
}

.successBanner {
  animation: stretch infinite;
  animation-duration: 2s;
  animation-timing-function: step-start;
}

/* FFD700, 4caf50, 6495ED, FF69B4 */

@keyframes stretch {
  0%, 100% {
    background-color: #E8E569;
  }
  25% {
    background-color: #ebb2cb;
  }
  50% {
    background-color: #99d1a3;
  }
  75% {
    background-color: #56A981;
  }
}


@media screen and (max-width: 575px) {
  /* .container {
    padding: 0;
  } */

  .card {
    border: none;
  }

}
