body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.titleJumbo {
  margin-top: 15px;
  margin-bottom: 15px;
  justify-content: center;
  padding: 2rem;
}

.titleLogo {
  max-width: 130px;
}

.successLogo {
  padding-bottom: 2rem;
}

.titleJumbo h1 {
  margin-top: 15px;
}

.card {
  background-color: var(--darkGreen);
}

.card1 {
  margin-bottom: 15px;
}

:root {

  --lightGreen: #99d1a3;
  
  --garkGreen: #56A981;

  --yellow: #E8E569;
   /* #edea87; */
  
  --pink: #ebb2cb;

  --primary-font: Nunito, Helvetica, sans-serif;

  --primary-spacing: 3rem;
  
}


.successBanner {
  margin-top: 1.5rem;
  height: 100%;
  animation: stretch infinite;
  animation-duration: 2s;
  animation-timing-function: step-start;
}

@keyframes stretch {
  0%, 100% {
    background-color: #E8E569;
  }
  25% {
    background-color: #ebb2cb;
  }
  50% {
    background-color: #99d1a3;
  }
  75% {
    background-color: #56A981;
  }
}


@media screen and (max-width: 575px) {

  .startButton {
    margin-bottom: 15px;
  }

  .successBanner h1, h5, h6 {
    display: none;
  }

  .row {
    margin-right: 0;
    margin-left: 0;
  }

}
